.moon {
    position: relative;
}

.moon__spaceship {
    position: absolute;
    background-image: url(../../assets/Spaceship.png);
    height: 140px;
    width: 102px;
    background-size: contain;
    transform: translate(50%, -50%);
    right: 50%;
    z-index: 2;
}
.moon__landing-gear {
    position: absolute;
    height: 23px;
    width: 68px;

    background-image: url(../../assets/landing_gear.png);
    background-size: contain;

    transform: translateX(50%);
    right: 50%;
    top: 50px;
    z-index: 1;
}
.moon__steam-left {
    position: absolute;
    width: 65px;
    height: 62px;
    top: 10px;
    left: 87px;
    background-image: url(../../assets/Smoke_left.png);
    background-size: contain;
    z-index: 1;

}
.moon__steam-right {
    position: absolute;
    width: 52px;
    height: 50px;
    top: 23px;
    right: 103px;
    background-image: url(../../assets/Smoke_right.png);
    background-size: contain;
    z-index: 1;

}