.rocket {
    @include centerflex;
}

.rocket__moon {
    width: 375px;
    height: 372px;
    background-image: url(../../assets/Planet.png);
}

.rocket__button {
    width: 184px;
    height: 48px;
    margin-top: 24px;
    background-color: #7860D7;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border-radius: 8px;
    letter-spacing: .5px;
    cursor: pointer;
    &:hover {
        background-color: #05C9B7;
    }
}